<div id="menubar" class="topbar notes">
  <div class="right">
	<% if current_user.can_copy?(@note) %>
		<%= link_to "Copy", copy_note_path, class: "btn" %>
	<% end %>
	<%= link_to "Print", '', :onclick => 'javascript:print(); return false;', class: 'btn' %>
  </div>
  <div class="left">
    <%= link_to "Back", edit_note_back_path, :class => "btn" %>
  </div>
  <div class="middle">
    <%= truncate @note.name, :length => 70 %>
  </div>
</div>
<div class="container">
  <div id="note_content"><%= h @note.content.html_safe %></div>
</div>
