<% if flash[:error]%>
  <div class="alert alert-message error">
    <%= flash[:error] %>
  </div>
<% end %>
<div class="single-form">
  <div class="header">
    <h3>Request an invite to StudyHall</h3>
  </div>
  <%= form_for @signup, :html => {:class => "form-stacked", :multipart => true} do |f| %>
    <%= f.error_messages %>
    <div class="clearfix">
      <%= f.label :email %> 
      <div class="input"><%= f.text_field :email, :placeholder => 'Email@YourSchool.edu' %></div>
    </div>
    <div class="clearfix">
      <%= f.submit "Request", :class => "btn primary" %>
    </div>
  <% end %> 
  <%= link_to "Sign up again", '/signups/reset' %>
</div>
