<h1 class="class_header"><big><%= truncate "#{@course.department} #{@course.number}" , length: 30 %></big></h1>
<aside class="sidebar">
  <section>
    <header>
      <div class="class_subheader"><%= @course.title %></div>
    </header>
  </section>
  <section>
    <header>
      <h1 class="professor left">Professor: <small><%= @class.instructor ? "#{@class.instructor.first_name} #{@class.instructor.last_name}" : "Unknown" %></small></h1>
    </header>
  </section>
  <%= render :partial => "classmates_preview", :locals => {:classmates => @classmates, :clazz => @class, empty_list_text: "Doesn't look like anyone's added this class"} %>
  <% if current_user.added_course?(@course) %>
    <%= link_to "Drop this class", user_drop_class_path(:user_id => current_user.id, :offering_id => @class.id), method: :delete, confirm: "Are you sure?", style: "font-size: 11px;" %>
  <% end %>
</aside>

<section class="course_activity">
<div class="tab-content">
<ul id="questions" class="active tab-pane">
  <table class="group_post_table">
    <tr><td>
      <ul class="group_posts_bar">
        <h4>Questions and Comments!</h4>
          <% if current_user.added_course?(@course) %>
          <%= render :partial => 'questions_form', :locals => {:question => Question.new, :classid => @class.id, :question_type => 'class'}%>
          <% else %>
          <h3>You must enroll to ask questions</h3>
          <% end %>
      </ul>
    </td></tr>
    <tr><td>
      <div id="questions_here" class="question_activity_list">
        <div class="page">
          <%= render :partial => 'questions/list_item', :locals => {:questions => @questions, :question_type => 'class'} %>
        </div>
      </div>
    </td></tr>
  </table>
</ul>
</div>
</section>
<script type="text/javascript">
 // $('.tabs').bind('change', function (e) {
 //   $('.scrollPane').jScrollPane();
 // });


(function() {
  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(window).height();
    //originally $(document).height() - $(window).height() - 4000
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      slug = <%= @class.id %>
      page++;
      $.ajax({
        url: '/classes/' + slug + '?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function() {
          $(window).sausage('draw');
          loading=false;
        }
      });
    }
  });

  $(window).sausage();
}());

</script>
