<h1 class="class_header"><big><%= truncate "#{@course.department} #{@course.number}" , length: 30 %></big></h1>
<aside class="sidebar">
  <section>
    <header>
      <div class="class_subheader"><%= @course.title %></div>
    </header>
  </section>
  <section>
    <header>
      <h1 class="professor left">Professor: <small><%= @class.instructor ? "#{@class.instructor.first_name} #{@class.instructor.last_name}" : "Unknown" %></small></h1>
    </header>
  </section>
  <%= render :partial => "classmates_preview", :locals => {:classmates => @classmates, :clazz => @class, empty_list_text: "Doesn't look like anyone's added this class"} %>
</aside>

<section class="course_activity">
	<div> Welcome to StudyHall! Click here to add this class after you've verified the data </div>
<div class="tab-content">
<ul id="questions" class="active tab-pane">
  <table class="group_post_table">
    <tr><td>
      <ul class="group_posts_bar">
        <h4>Questions and Comments!</h4>
          <% if current_user and current_user.added_course?(@course) %>
          <%= render :partial => 'questions/form', :locals => {:question => Question.new, :classid => @class.id, :question_type => 'class'}%>
          <% else %>
          <h3>You must enroll to ask questions</h3>
          <% end %>
      </ul>
    </td></tr>
    <tr><td>
      <div class="question_activity_list">
        <%= render :partial => 'questions/list_item', :locals => {:questions => @questions, :question_type => 'class'} %>
      </div>
    </td></tr>
  </table>
</ul>
</div>
</section>

<script type="text/javascript">
  $('.tabs').bind('change', function (e) {
    $('.scrollPane').jScrollPane();
  });
</script>
