<h6 id="group">Who Can View This Document?</h6>
<div>
<div class="radio_form" id="radio_button_1"><%= f.radio_button :overall_sharing, 1, :class => 'left group_p'%> <%= f.label :overall_sharing, "Everyone at my school" %></div>
<div class="radio_form" id="radio_button_2"><%= f.radio_button :overall_sharing, 2, :class => 'left group_p'%> <%= f.label :overall_sharing, "Only my study buddies" %></div>
<div class="radio_form" id="radio_button_3"><%= f.radio_button :overall_sharing, 3, :class => 'left group_p'%> <%= f.label :overall_sharing, "Only selected buddies" %></div>
</div>
