<tr>
  <td><%= f.collection_select :offering_id, current_user.offerings, :id, :name, {multiple: false}, class: 'large chzn-select' %></td>
  <td><%= f.check_box :can_view, {:disabled => true, :checked => true} %></td>
  <td><%= f.check_box :can_edit %></td>
  <td><%= f.check_box :can_copy %></td>
  <td><%= f.hidden_field :_destroy %>
	  <%= link_to "remove", '#', class: "remove_fields" %></td>
	<%= f.hidden_field :note_id, :value => @permission_set.note.id %>
        <% # = f.hidden_field :permission_setting_id, :value => @permission_set.id %>
</tr>
